html, body {
  margin: 0;
  padding: 0;
  background: transparent; 
}

.popup-section {
  width: 320px;                 
  overflow: hidden;     
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
}

.body-wrapper {
    background-color: #EAE0CF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header-compact-container {
  background-color: #213448;
  padding: 15px 18px;
  row-gap: 15px;
  display: flex;
  flex-direction: column;
}

.header-text-streak {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-subheader-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* keep text aligned left */
  flex-shrink: 0;
}

.header-compact-text {
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: #EAE0CF;
}

.subheader-compact-text {
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #a7a095;
}

.streak-icon {
    height: 16px;
    width: 16px;
}

.streak-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  gap: 5px;
  color: #ffa203;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgba(192, 143, 38, 0.2);
  backdrop-filter: blur(12px);           
  -webkit-backdrop-filter: blur(12px);    
  border-radius: 20px;               
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  border: 1px solid rgba(255, 174, 0, 0.2);;
  padding: 5px 10px;
  flex-shrink: 0;
  align-self: flex-start;
}

.compact-btn {
  background: rgba(255, 255, 255, 0.2);   
  backdrop-filter: blur(6px);             
  -webkit-backdrop-filter: blur(6px);     
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 2px 6px rgba(0,0,0,0.15); 
  color: #213448;                         
  cursor: pointer;
  padding: 3px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.compact-btn:hover {
  background: rgba(255, 255, 255, 0.3);   
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
}

.compact_icon {
    height: 18px;
    width: 18px;
}

.body-container {
    padding: 15px 10px 15px 0;
    display: flex;
    flex-direction: column;
    margin: 0 17px;
    gap: 10px;
    align-items: stretch;
}

.mascot-container {
    display: flex;
    justify-content: center;
    background-color: #faf4ec;
    border-radius: 10px;
    border: 1px solid rgb(185, 185, 185);
    gap: 8px;
    padding: 13px;
}

.mascot-icon {
    background-color: #213448;
    border: 3px solid #547792;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.dynamic-motivation-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 12px;
    padding-top: 10px;
}

.today-container,
.goal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(185, 185, 185);
    padding: 10px 35px 10px 0;
    max-width: none;
    max-height: none;
    row-gap: 5px;
    background-color: #faf4ec;
    border-radius: 10px;
    box-sizing: border-box;
    flex: 1;
}

.today-text,
.goal-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.today-time {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #026c17;
    font-weight: bold;
    font-size: 14px;
    width: 70px;
    margin-left: 20px;
    display: flex;
    gap: 5px;
}

.goal-time {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 14px;
    width: 70px;
    margin-left: 20px;
    display: flex;
    gap: 5px;
}

.progress-bar-wrapper {           
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;            
}

.progress-container {
  width: 275px;                   
  background: #c8c8c8;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.progress-bar {
    height: 4px;
    width: 77%;             
    background: #1c9e38a8;       
    border-radius: 10px 0 0 10px; 
    transition: width 0.4s ease; /
}

.bar-percent-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    width: 100%;                    
    max-width: 280px;               
    margin: 0 auto;                 
    font-family: system-ui, sans-serif;
    font-size: 13px;
    color: #213448;
}

.progress-text {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    color: #eae0cfc6;
}

.progress-percent {
    color: #16c83da8;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.start-session-container {
    display: flex;
    justify-content: center;
}

.start-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgb(162, 162, 162);
    color: white;
    font-weight: bold;
    padding: 5px 55px;
    border-radius: 10px;
    cursor: pointer;
    gap: 5px;
}

.start-btn:hover,
.view-btn:hover,
.fifteenMin-btn:hover,
.thirtyMin-btn:hover,
.fortyfiveMin-btn:hover,
.sixtyMin-btn:hover {
    background-color: #242527;
    border-radius: 7px;
}

.min-btn-selected,
.fifteenMin-btn:active,
.fifteenMin-btn:focus,
.thirtyMin-btn:active,
.thirtyMin-btn:focus,
.fortyfiveMin-btn:active,
.fortyfiveMin-btn:focus,
.sixtyMin-btn:active,
.sixtyMin-btn:focus{
    background-color: #242527;
    border-radius: 7px;
}

.start-icon {
    height: 24px;
    width: 24px;
}

.view-session-container {
    display: flex;
    justify-content: center;
}

.view-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 10px;
    cursor: pointer;
    gap: 5px;
    font-size: 10px;
}

.view-icon {
    height: 18px;
    width: 18px;
}

.session-header-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #2b2b2b4f;
    font-weight: 450;
}

.session-wrapper {
    display: flex;
    flex-direction: column;
}

.quick-sessions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.fifteenMin-btn,
.thirtyMin-btn,
.fortyfiveMin-btn,
.sixtyMin-btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-color: white;
}

.session-header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.session-subheader {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 9px;
}

.min-btn-selected {
  background-color: #242527; 
  outline: none;
}

.session-output {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.today-goal-container {
    display: flex;
    gap: 13px;
    margin-bottom: 10px;             
}

.today-goal-wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
}

.break-btn,
.stop-btn {
    padding: 10px 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
    background-color: #57595B;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.stop-break-icon {
    height: 18px;
    width: 18px;
}

.break-btn:hover{
    background-color: #213448;
}

.stop-btn:hover {
    background-color: #94161a;
}

.break_stop_container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.break-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 10px;
}

.break-text {
    font-size: 15px;
    padding-top: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 600;
}

.break-time {
    padding: 8px 10px;
    background-color: transparent;
    color: red;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    width: 50px;
    font-style: normal;
    font-weight: 650;
    font-size: 13px;
}

.confirmation-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-dialog {
    background-color: #213448;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-width: 250px;
}

.confirmation-text {
    color: #EAE0CF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 14px;
    text-align: center;
}

.confirmation-buttons {
    display: flex;
    gap: 10px;
}

.confirmation-btn {
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
}

.yes-btn {
    background-color: #16c83da8;
    color: white;
}

.yes-btn:hover {
    background-color: #16c83d;
}

.no-btn {
    background-color: #94161a;
    color: white;
}

.no-btn:hover {
    background-color: #b31e1e;
}

.mascot_extension {
    background-color: #213448;
    border: 3px solid #94B4C1;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.extension_header_text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 12px;
    padding-top: 10px;
    color: #EAE0CF;
}

.extension_header_container {
    background-color: #547792;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;
}

.fire_icon_extension {
    height: 20px;
    width: 20px
}

.fire_text_extension {
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #213448;
}

.fire_container_extension {
    display: flex;
    align-items: center;
    gap: 3px;
}

.next_extension,
.days_extension {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgb(61, 61, 61);
}

.streak_container_extension {
    display: flex;
    background-color: #faf4ec;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
    margin: 15px;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
}

.trophy_extension {
    height: 21px;
    width: 21px;
    background-color: #213448;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 8px;
    padding: 8px;
}

.star_extension,
.target_extension {
    height: 21px;
    width: 21px;
    background-color: #ebe6dcda;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 8px;
    padding: 8px;
}


.day_num_extension {
    font-weight: bold;
    font-size: 10px;
}

.day_num_extension_other {
    font-weight: bold;
    font-size: 10px;
    color: rgb(137, 132, 132);
}

.day_icon_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    gap: 3px;
}

.day_icon_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.to_num_container {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    color: rgba(61, 61, 61, 0.73);
    font-weight: bold;
}

.bar_text_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.streak_bar_container {
  width: 195px;                   
  background: #c8c8c8;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.streak_bar {
    height: 4px;
    width: 77%;             
    background: #547792;       
    border-radius: 10px 0 0 10px; 
    transition: width 0.4s ease; /
}

.extension_container_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #faf4ec;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
    margin: 15px;
    margin-top: 0;
}

.focus_icon {
    height: 15px;
    width: 15px;
}

.icon_text_focus {
    display: flex;
    align-items: center;
    gap: 5px;
}

.focus_text {
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #213448;
}

.focus_header_container {
    display: flex;
    background-color: #faf4ec;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
    margin: 15px;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
}

.focus_status {
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #069d0b;
}

.focus_body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    background-color: #faf4ec;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
    margin: 15px;
    margin-top: 0;
}
   

.focus_icon {
    width: 25px;
    height: 25px;
}

.focuses_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.focus_icon_text {
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.focuses_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle {
  width: 45px;              
  height: 20px;             
  background-color: #547792; 
  border-radius: 35px;       
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.knob {
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;                 
  right: 3px;               
  transition: all 0.3s ease;
}

hr {
  border: none;          
  height: 1px;           
  background: #b5b6b7;  
  width: 100%;            
  margin: 0 auto;     
}

.sched_icon_text {
    height: 21px;
    width: 21px;
}

.sched_header_container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.plan_container {
    display: flex;
    align-items: center;
    gap: 3px;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #707172cb;
}

.sched_container {
    display: flex;
    background-color: #faf4ec;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
    margin: 15px;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.sched_text {
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #213448;
}

.sched_btns_container {
    display: flex;
    background-color: #faf4ec;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
    margin: 15px;
    margin-top: 0;
    align-items: center;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
}

.sched_btns_container:hover {
    background-color: #b7b7b7;
}

.sched_btn {
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border: none;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #213448;
}

.suggestion_container {
    display: flex;
    background-color: #faf4ec;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
    margin: 15px;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.ai_icon_text_container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ai_icon {
    height: 20px;
    width: 20px;
}

.ai_text {
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #213448;
}

.past_sesh {
    display: flex;
    align-items: center;
    gap: 3px;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #707172cb;
}

.lower_suggestion_container {
    display: flex;
    background-color: #faf4ec;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
    margin: 15px;
    margin-top: 0;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.dummy { /* remove this later */
    min-height: 100px;
}

.detection_icon {
    height: 20px;
    width: 20px;
}

.detection_text {
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #213448;
}

.detection_container {
    display: flex;
    background-color: #faf4ec;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
    margin: 15px;
    margin-bottom: 0;
    align-items: center;
    gap: 5px;
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #22c55e; /* base green */
  margin-right: 8px;
  flex-shrink: 0;
}

.status-circle.active {
  box-shadow: 0 0 15px #125329,
              0 0 30px #125329,
              0 0 45px #125329;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0%   { box-shadow: 0 0 10px #125329, 0 0 20px #125329; }
  50%  { box-shadow: 0 0 30px #125329, 0 0 60px #125329; }
  100% { box-shadow: 0 0 10px #125329, 0 0 20px #125329; }
}


.lower_detection_container {
    display: flex;
    background-color: #faf4ec;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgb(185, 185, 185);
    padding: 10px;
    margin: 15px;
    margin-top: 0;
    align-items: center;
    gap: 5px;
}

.inner_detection_container {
    display: flex;
    align-items: center;   /* vertically center items */
    justify-content: flex-start;
    background-color: #f0dfcc;
    border-radius: 10px;
    border: 1px solid rgb(185, 185, 185);
    padding: 15px;
    margin: 2px;
    gap: 2px;
}

.active_msg {
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #000000;
}

.active_text {
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #000000;
}

.footer_container {
    display: flex;
    background-color: #213448;
    padding: 20px;
    justify-content: center;
}

.new_sesh_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 14px;
    gap: 5px;
    padding: 5px 35px;
    cursor: pointer;
}

.new_sesh_btn:hover {
    background-color: #35577b;
}

.sesh_icon {
    height: 22px;
    width: 22px;
}





